.picker {
  width: 100%;

  label {
    left: -1rem;
    color: #232323 !important;
  }

  input {
    padding: 0.8rem 0 0.4rem 0;
    height: 1.2rem;
  }

  fieldset {
    border-radius: 0;
    border-width: 0 0 1px 0;
    padding: 0;
    border-color: #232323;
  }
}
